@keyframes pulse {
    from {
        scale: 1;
        opacity: 0.5;
    }

    to {
        scale: 1.4;
        opacity: 0;
    }
}

@keyframes rotate-right {
    from {
        rotate: 0;
    }

    to {
        rotate: 360deg;
    }
}

@keyframes rotate-left {
    from {
        rotate: 0;
    }

    to {
        rotate: -360deg;
    }
}