@use 'colors' as *;

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
    color: $white;
    background-color: $dark;
}


h1.company-name {
    margin-bottom: 0.5em;
    font-size: 3rem;
    font-family: 'Cinzel', serif;
    color: $gold;
}

.wrapper {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

.section-title {
    position: relative;
    margin: 0 auto 2em;
    font-size: 3.2rem;
    color: $gold;
    font-weight: 200;
    width: fit-content; //tyle ile treści tyle szerokości

    &::before {
        position: absolute;
        content: '';
        bottom: -0.1em;
        left: 0;
        width: 40px;
        height: 2px;
        background-color: $gold;
    }

    span{
        font-weight: 900;
    }
}

// https://github.com/jonsuh/hamburgers